:global(.ck-rounded-corners .ck.ck-editor__editable:not(.ck-editor__nested-editable), 
    .ck.ck-editor__editable.ck-rounded-corners:not(.ck-editor__nested-editable)) {
        min-height: 300px;
        overflow-y: auto;
        border-color: 1px solid var(--border-color) !important;
        border-bottom-left-radius: 8px !important;
        border-bottom-right-radius: 8px !important;
    }

    :global(.ck.ck-editor__editable.ck-rounded-corners:not(.ck-editor__nested-editable)) {
        .contents-container {
            a {
                border-bottom: solid 1px var(--main-color);
            }
        }
    }  

    :global(.ck.ck-editor__editable.ck-rounded-corners:not(.ck-editor__nested-editable)) {
        &:hover, &.active {
            transition: all 0.3s;
            border: 1px solid var(--main-color);
        }
    }

    :global(.ck .ck-powered-by) {
        display: none;
    }

    :global(.ck.ck-menu-bar) {
        display: none !important;
    }

    // :global(.ck-content .image img) {
    //     max-width: 200px !important;
    //     max-height: 200px !important;
    //     width: auto !important;
    //     height: auto !important;
    // }

    :global(.ck.ck-toolbar) {
        border-color: var(--border-color) !important;
        border-top-left-radius: 8px !important;
        border-top-right-radius: 8px !important;
    }